%table#albums
  - @albums.each do |album|
    %tr
      %td
        %span= album.name
      %td
        %span= album.artists.first.try(:name) || 'The beatles'
        / just printing the first album for the artist using try as they many not be any artist
      %td
        %span= image_tag(album.image)
      %td
        / = link_to('Edit', edit_album_path(album), :class => 'button radius tiny') if @auth.present? && @auth.is_admin?
        = link_to('Edit', edit_album_path(album), :class => 'button radius tiny') if is_admin?
